<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto"
	package="com.robotemplates.cookbook">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

	<!--
	You can easily change the main theme. Just modify application.android:theme attribute.
	There are 8 main themes you can use:
		Theme.Cookbook.Blue
		Theme.Cookbook.Brown
		Theme.Cookbook.Carrot
		Theme.Cookbook.Gray
		Theme.Cookbook.Green
		Theme.Cookbook.Indigo
		Theme.Cookbook.Red
		Theme.Cookbook.Yellow
	Don't forget to modify also MainActivity's theme.
	-->

	<application
		android:name=".CookbookApplication"
		android:icon="@mipmap/ic_launcher"
		android:label="Napricot"
		android:theme="@style/Theme.Cookbook.Carrot"
		android:hardwareAccelerated="true"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:usesCleartextTraffic="true"
		tools:ignore="AllowBackup,UnusedAttribute"
		tools:replace="android:icon">

		<!--
		Themes for MainActivity:
			Theme.Cookbook.TransparentStatusBar.Blue
			Theme.Cookbook.TransparentStatusBar.Brown
			Theme.Cookbook.TransparentStatusBar.Carrot
			Theme.Cookbook.TransparentStatusBar.Gray
			Theme.Cookbook.TransparentStatusBar.Green
			Theme.Cookbook.TransparentStatusBar.Indigo
			Theme.Cookbook.TransparentStatusBar.Red
			Theme.Cookbook.TransparentStatusBar.Yellow
		-->

		<activity
			android:name=".activity.MainActivity"
			android:label="Napricot"
			android:theme="@style/Theme.Cookbook.TransparentStatusBar.Carrot"
			android:launchMode="standard">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="@string/app_deep_link_host" />
				<data android:pathPattern="@string/app_deep_link_path" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.SplashActivity"
			android:theme="@style/Theme.Cookbook.Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.RecipeDetailActivity"
			android:label="@string/title_recipe_detail"
			android:launchMode="standard" />

		<provider
			android:name=".content.RecipeSearchRecentSuggestionsProvider"
			android:authorities="${applicationId}.content.RecipeSearchRecentSuggestionsProvider"
			android:exported="false" />

		<service
			android:name=".fcm.CookbookFirebaseMessagingService"
			android:stopWithTask="false"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_stat_notification" />

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/global_color_accent" />

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_channel_id"
			android:value="@string/fcm_default_notification_channel_id" />

		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="@string/admob_app_id" />

	</application>
</manifest>
